<div fxLayout="column">
    <span class="mat-title">{{opposite_name}}</span>
    <div *ngFor="let msg of messages">
        <div *ngIf="msg.self; else elseBlock">
            <mat-card>
                <mat-card-content>
                    {{msg.text}}
                </mat-card-content>
                <mat-card-footer>
                    <caption>{{msg.timestamp}}</caption>
                </mat-card-footer>>
            </mat-card>
        </div>
        <ng-template #elseBlock>
            <span fxLayout="row" fxFlexOffset="auto">
                <mat-card>
                    <mat-card-content>
                        {{msg.text}}
                    </mat-card-content>
                    <mat-card-footer>
                        <caption>{{msg.timestamp}}</caption>
                    </mat-card-footer>>
                </mat-card>
            </span>
        </ng-template>
    </div>


    <div class="footer">
        <mat-form-field class="full-with">
            <textarea matInput [(ngModel)]="text"></textarea>
        </mat-form-field>
        <span fxLayout="row" fxFlexOffset="auto">
            <button mat-raised-button color="accent" type="button" (click)="sendMsg()">送信</button>
        </span>
    </div>
</div>
