.spacer {
    margin-bottom: 16px;
}

.full-width {
    width: 100%;
}

.mat-expansion-panel-header {
    font-size: 14px;
    height: 36px;
}

.panel {
    margin-bottom: 16px;
}

.mat-dialog-actions {
    padding: 8px 0 16px;
}