table {
    width: 100%;
}

.mat-elevation-z8 {
    margin: 8px 8px 16px 8px;
}

.mat-cell {
    padding: 8px 8px 8px 0;
}

.header {
    margin-top: 8px;
}

.refresh-btn {
    z-index: 2;
    position: absolute;
    bottom: 64px;
    right: 24px;
}


