<div *ngFor="let screen_name of screen_names">
    <mat-card>
        <mat-card-title>@{{screen_name}}</mat-card-title>
        <mat-divider inset></mat-divider>
        <mat-card-actions>
            <button mat-button (click)="onDelete(screen_name)">削除</button>
            <span fxlayout="row" fxFlexOffset="auto" fxLayoutGap="8px">
                <button mat-raised-button color="accent" (click)="onOAuth(screen_name)">認証</button>
                <button mat-raised-button color="primary" (click)="onDM(screen_name)">DM</button>
            </span>
        </mat-card-actions>
    </mat-card>
</div>
