.register-btn {
    //margin: 8px 8px 0px 8px;
    margin: 16px;
}

.warn {
    color: #f44336;
}

.warning {
    color: #f44336;
    vertical-align: middle;
}

.mat-card {
    //margin-bottom: 0;
    margin-top: 0;
}

.mat-small {
    margin: 16px;
    vertical-align: middle;
}

.mat-card-actions .mat-button, .mat-card-actions .mat-raised-button, .mat-card-actions .mat-stroked-button {
    margin: 0;
}
