<div *ngFor="let id of ids">
    <mat-card>
        <mat-card-title>@{{id}}</mat-card-title>
        <mat-divider inset></mat-divider>
        <mat-card-actions>
            <button mat-button>編集</button>
            <span fxlayout="row" fxFlexOffset="auto" fxLayoutGap="16px">
                <button mat-raised-button color="accent" (click)="onOAuth(id)">認証</button>
                <button mat-raised-button color="primary" (click)="onDM(id)">DM</button>
            </span>
        </mat-card-actions>
    </mat-card>
</div>
