<mat-tab-group>
    <mat-tab label="一覧">
        <div fxLayout="column">
            <div>
                <span class="register-btn" fxLayout="row" fxFlexOffset="auto">
                    <button mat-raised-button color="accent" (click)="onRegister()">登録</button>
                </span>
            </div>
            <div *ngFor="let twitter of twitters">
                <mat-card>
                    <mat-card-title>
                        @{{twitter.screen_name}}
                    </mat-card-title>
                    <mat-card-content>
                        <span fxLayout="column" fxLayoutGap="8px">
                            <div *ngIf="twitter.subsc">
                                <button mat-icon-button type="button" color="warn" (click)="onDestroy(twitter.screen_name)"><mat-icon>warning</mat-icon></button>
                                <span class="warn">DMが正常に終了できていません! 左のアイコンを触ってください</span>
                            </div>

                            <div *ngIf="twitter.authorized; else elseBlock">
                                <span>連携済み</span>
                            </div>
                            <ng-template #elseBlock>
                                <span class="warn">未連携</span>
                            </ng-template>
                        </span>
                    </mat-card-content>
                    <mat-divider inset></mat-divider>
                    <mat-card-actions>
                        <button mat-button (click)="onDelete(twitter.screen_name)">削除</button>
                        <span fxlayout="row" fxFlexOffset="auto" fxLayoutGap="8px">
                            <button *ngIf="!twitter.authorized; else elseBlock2" mat-raised-button color="accent" (click)="onOAuth(twitter.screen_name)">連携</button>
                            <ng-template #elseBlock2>
                                <button mat-raised-button color="primary" (click)="onDM(twitter.screen_name)" [disabled]="twitter.subsc">DM</button>
                            </ng-template>
                        </span>
                    </mat-card-actions>
                </mat-card>
            </div>
        </div>
    </mat-tab>
    <mat-tab label="特殊">
        <div fxLayout="column">
            <div>
                <p class="mat-small">このアカウントからのDMは特殊通知になります</p>
                <span class="register-btn" fxLayout="row" fxFlexOffset="auto">
                    <button mat-raised-button color="accent" (click)="onRegisterSP()">登録</button>
                </span>
            </div>
        </div>
        <div *ngFor="let special of specials">
            <mat-card>
                <mat-card-title>@{{special.screen_name}}</mat-card-title>
                <mat-divider inset></mat-divider>
                <mat-card-actions>
                    <span fxLayout="row" fxFlexOffset="auto">
                        <button mat-button (click)="onDeleteSP(special.screen_name)">削除</button>
                    </span>
                </mat-card-actions>
            </mat-card>
        </div>
    </mat-tab>
</mat-tab-group>
