.all-btn {
    margin: 16px;
}

.excute {
    color: #388E3C
}

.mat-expansion-panel {
    margin: 0 8px 8px 8px;
}

.mat-accordion>.mat-expansion-panel-spacing:last-child, .mat-accordion>*:last-child:not(.mat-expansion-panel) .mat-expansion-panel-spacing {
    margin-bottom: 8px;
}