.all-btn {
    margin: 16px;
}

.excute {
    color: #388E3C
}

.mat-expansion-panel {
    margin-bottom: 8px;
}

.mat-accordion>.mat-expansion-panel-spacing:last-child, .mat-accordion>*:last-child:not(.mat-expansion-panel) .mat-expansion-panel-spacing {
    margin-bottom: 8px;
}

.keyword-width {
    max-width: 300px;
    width: 100%;
}

.small-width {
    max-width: 100px;
    width: 100%;
}

.status-width {
    max-width: 192px;
    width: 100%;
}

.container {
    margin: 8px;
}