.spacer {
    margin-bottom: 16px;
}

.excute {
    color: #388E3C
}

.restricted {
    color: #f44336;
}

.small-width {
    max-width: 100px;
    width: 100%;
}

.status-width {
    max-width: 192px;
    width: 100%;
}

.container {
    margin: 8px;
}

.mat-card {
    margin: 8px 0 0 0;
}

.mat-card-title {
    margin-bottom: 16px;
}

.mat-card-content {
    margin-top: 16px;
}

.mat-card-actions {
    padding: 0; 
}

.keyword-width {
    max-width: 300px;
    width: 100%;
}